html,
body {
  margin: 0;
  padding: 0;
  background-image: url("./carrot/img/background.png");
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 30px;
  border: solid 5px black;
  border-radius: 10px;
  background-color: beige;
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.start:hover {
  transform: scale(1.1, 1.1);
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: solid 5px black;
  border-radius: 10px;
  background-color: white;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  color: black;
  font-size: 50px;
}

.rest {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  font-size: 40px;
  border: solid 3px black;
  border-radius: 25px;
  background-color: tomato;
  color: white;
  width: 50px;
  height: 50px;
}

.playground {
}

img {
  cursor: pointer;
  height: 100px;
  width: 100px;
}
img:hover {
  transform: scale(1.1, 1.1);
}

.carrot {
}

.bug {
}
